{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "never"
}